[Unit]
Description=Set Bloom hostname
DefaultDependencies=no
Before=getty-pre.target systemd-logind.service
After=systemd-remount-fs.service
ConditionPathExists=!/etc/hostname

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c 'printf "%s\n" bloom > /etc/hostname && printf "%s\n" bloom > /proc/sys/kernel/hostname'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
